/.vs/
/Bai01Delegate/bin/
/Bai01Delegate/.vs/
/Bai01Delegate/obj/
/Bai02LopClass/bin/
/Bai02LopClass/obj/
/Bai02LopClass/.vs/
/Bai03KhongGianTen/bin/
/Bai03KhongGianTen/obj/
/Bai03KhongGianTen/.vs/
/Bai04ChiaFile/bin/
/Bai04ChiaFile/obj/
/Bai04ChiaFile/.vs/
/Bai05LopLongNhau/bin/
/Bai05LopLongNhau/obj/
/Bai05LopLongNhau/.vs/
/Bai06ThamChieuThamTri/bin/
/Bai06ThamChieuThamTri/obj/
/Bai06ThamChieuThamTri/.vs/
/Bai07KieuVoDanhVaDynamic/bin/
/Bai07KieuVoDanhVaDynamic/obj/
/Bai07KieuVoDanhVaDynamic/.vs/
/Bai08Lambda/bin/
/Bai08Lambda/obj/
/Bai08Lambda/.vs/
/Bai09Even/bin/
/Bai09Even/obj/
/Bai09Even/.vs/
/Bai10HamHuyAndOverloading/bin/
/Bai10HamHuyAndOverloading/obj/
/Bai10HamHuyAndOverloading/.vs/
/Bai11NullNullable/bin/
/Bai11NullNullable/obj/
/Bai11NullNullable/.vs/
/Bai12Mang/bin/
/Bai12Mang/obj/
/Bai12Mang/.vs/
/Bai13ChuoiKyTu/bin/
/Bai13ChuoiKyTu/obj/
/Bai13ChuoiKyTu/.vs/
/Bai14TinhKeThua/bin/
/Bai14TinhKeThua/obj/
/Bai14TinhKeThua/.vs/
/Bai15InterfaceAbstract/bin/
/Bai15InterfaceAbstract/obj/
/Bai15InterfaceAbstract/.vs/
/Bai16StructEnum/bin/
/Bai16StructEnum/obj/
/Bai16StructEnum/.vs/
/Bai17NgoaiLeException/bin/
/Bai17NgoaiLeException/obj/
/Bai17NgoaiLeException/.vs/
/Bai18FileCoBan/bin/
/Bai18FileCoBan/obj/
/Bai18FileCoBan/.vs/
/Bai19Generic/bin/
/Bai19Generic/obj/
/Bai19Generic/.vs/
/Bai20Collection/bin/
/Bai20Collection/obj/
/Bai20Collection/.vs/
/Bai21Extensionmethod/bin/
/Bai21Extensionmethod/obj/
/Bai21Extensionmethod/.vs/
/Bai22ObservableCollection/bin/
/Bai22ObservableCollection/obj/
/Bai22ObservableCollection/.vs/
/Bai23Linq/bin/
/Bai23Linq/obj/
/Bai23Linq/.vs/
/Bai24Multithreading/bin/
/Bai24Multithreading/obj/
/Bai24Multithreading/.vs/
/Bai25Type/bin/
/Bai25Type/obj/
/Bai25Type/.vs/
/Bai26Atribute/bin/
/Bai26Atribute/obj/
/Bai26Atribute/.vs/
/Bai27DependencyThietKePM/bin/
/Bai27DependencyThietKePM/obj/
/Bai27DependencyThietKePM/.vs/
/Bai28Networking/bin/
/Bai28Networking/obj/
/Bai28Networking/.vs/
/Bai29ThuvienInjectdangkyService/bin/
/Bai29ThuvienInjectdangkyService/obj/
/Bai29ThuvienInjectdangkyService/.vs/
/Bai30DatientrinhParallel/bin/
/Bai30DatientrinhParallel/obj/
/Bai30DatientrinhParallel/.vs/
/Bai31TaoThuVien/bin/
/Bai31TaoThuVien/obj/
/Bai31TaoThuVien/.vs/
/Bai32NetworkHttpMessageHandler/bin/
/Bai32NetworkHttpMessageHandler/obj/
/Bai32NetworkHttpMessageHandler/.vs/
/Bai33NetworkHttplistener/bin/
/Bai33NetworkHttplistener/obj/
/Bai33NetworkHttplistener/.vs/
/Bai34EntityFramework/bin/
/Bai34EntityFramework/obj/
/Bai34EntityFramework/.vs/
/Bai36Asp_Netcore/bin/
/Bai36Asp_Netcore/obj/
/Bai36Asp_Netcore/.vs/
/Bai37AspMVC/bin/
/Bai37AspMVC/obj/
/Bai37AspMVC/.vs/
/ChuyenSoThanhTru/bin/
/ChuyenSoThanhTru/obj/
/ChuyenSoThanhTru/.vs/
/TestAPI/bin/
/TestAPI/obj/
/TestAPI/.vs/
/Winform/bin/
/Winform/obj/
/Winform/.vs/
/WPF HelloWord/bin/
/WPF HelloWord/obj/
/WPF HelloWord/.vs/