<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ExcelFilePath" value="" />
		<add key="ImagesDirectory" value="" />
		<add key="OutputDirectory" value="" />
		<add key="newWidth" value="1080" />
		<add key="newHeight" value="1920" />
		<add key="resizedWidth" value="1080" />
		<add key="resizedHeight" value="700" />
		<add key="numberWordTitle" value="4" />
		<add key="numberWordContent" value="9" />
	</appSettings>
</configuration>
